@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "yekan-bakh";
  src: url("/fonts/yekan-bakh/yekan-bakh-regular.ttf");
}

@font-face {
  font-family: "yekan-bakh-bold";
  src: url("/fonts/yekan-bakh/yekan-bakh-bold.ttf");
}

@font-face {
  font-family: "morabba";
  src: url("/fonts/morabba/morabba-regular.ttf");
}

@font-face {
  font-family: "morabba-medium";
  src: url("/fonts/morabba/morabba-medium.ttf");
}

@font-face {
  font-family: "morabba-bold";
  src: url("/fonts/morabba/morabba-bold.ttf");
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-*: initial;
  --font-yekan-bakh: "yekan-bakh";
  --font-yekan-bakh-bold: "yekan-bakh-bold";
  --font-morabba: "morabba";
  --font-morabba-medium: "morabba-medium";
  --font-morabba-bold: "morabba-bold";

  --radius-sm: calc(var(--radius) - 0.5rem);
  --radius-md: calc(var(--radius) - 0.25rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.5rem);
  --radius-2xl: calc(var(--radius) + 1rem);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 1rem;
  --background: #ffffff;
  --foreground: #232323;
  --card: #ffffff;
  --card-foreground: #232323;
  --popover: #ffffff;
  --popover-foreground: #232323;
  --primary: #363636;
  --primary-foreground: #fcfcfc;
  --secondary: #f7f7f7;
  --secondary-foreground: #363636;
  --muted: #f7f7f7;
  --muted-foreground: #888888;
  --accent: #f7f7f7;
  --accent-foreground: #363636;
  --destructive: #eb8576;
  --border: #ebebeb;
  --input: #ebebeb;
  --ring: #b4b4b4;
  --chart-1: #ceb15a;
  --chart-2: #5797b4;
  --chart-3: #5479bc;
  --chart-4: #f7c764;
  --chart-5: #f7de66;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #232323;
  --sidebar-primary: #363636;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #363636;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b4b4b4;
}

.dark {
  --background: #232323;
  --foreground: #fcfcfc;
  --card: #363636;
  --card-foreground: #fcfcfc;
  --popover: #363636;
  --popover-foreground: #fcfcfc;
  --primary: #ebebeb;
  --primary-foreground: #363636;
  --secondary: #474747;
  --secondary-foreground: #fcfcfc;
  --muted: #474747;
  --muted-foreground: #b4b4b4;
  --accent: #474747;
  --accent-foreground: #fcfcfc;
  --destructive: #cc7a6a;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #888888;
  --chart-1: #5051b9;
  --chart-2: #29d3ad;
  --chart-3: #f7de66;
  --chart-4: #345fa7;
  --chart-5: #ccb645;
  --sidebar: #363636;
  --sidebar-foreground: #fcfcfc;
  --sidebar-primary: #5051b9;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #474747;
  --sidebar-accent-foreground: #fcfcfc;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #888888;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-yekan-bakh select-none;
  }
}

@utility wrapper {
  @apply px-6;
}

@utility heading {
  @apply text-3xl lg:text-5xl font-bold font-morabba-medium leading-snug;
}

@utility infinite-scroll-x {
  animation: scroll-x 20s linear infinite;
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}